html,
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI',
    'Fira Sans', Avenir, 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

body {
  background: #add8e6;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
