html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #add8e6;
  color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
